.BlueText {
    color: #2196F3;
}
 .BlackText {
    color: #212121;
 }
 
 .SectionOne {
    background-color: #2F303A;
    background-position: center;
    margin-left: -10px;
    width: auto;
    height: 800px;
    
 }

.H2Text2 {
   text-align: center;
   font-size: 36px;
   position: relative;
   top: 100px;
 }

 button {
     margin-left: 840px;
     margin-top: 200px;
     background-color: #2196F3;
     width: 250px;
     height: 50px;
     top: 430px;
     background-position: center;


 }

 .H2Text {
    color: #FFFFFF;
    font-size: 70px;
    position: relative;
    top: 150px;
   
   text-align: center;
    
 }

 header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 1600px;
    
 }

 .menu {
    list-style: none;
    display: flex;
    gap: 40px;
   
 }

 .ImgOne {
    width: 370px;
    height: 294px;
    
    left: 400px;
    
 }

 footer {
    background: #2F303A;
    color: #FFFFFF;
    width: a;
    height: 250px;
    
    margin-left: -10px;
 }

 .menu2 {
    list-style: none;
    display: block;
    font-size: 20px;
 }

 h3 {
    margin-left: 40px;
    margin-top: 30px;
    font-size: 35px;
 }
 
 p {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
 }

 h3>span {
   color: #2196F3;
 }

  h1>span {
   color: #2196F3;
 }

 .SectionTwo {
   height: 300px;
 }

 .SectionFour {
   background: #F5F4FA;
   height: 650px;
 }

 img {
   position: relative;
   top: 200px;
   left: 350px;
 }

 .TableOne {
   position: relative;
   top: 150px;
   font-size: 20px;
 }

 .SectionThree {
   height: 650px;
 }

 .TableTwo tbody {
   position: relative;
   left: 300px;
   top: 200px;
   font-size: 20px;
   text-align: center;
 }

 footer h3 {
   position: relative;
   left: 200px;
   top: 40px;
 }

  footer .menu2 {
   position: relative;
   left: 200px;
   top: 50px;
 }

 h3 {
   width: 200px;
 }

 