* {
  margin: 0 0;
  padding: 0 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}

 li {
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}



.BlueText {
    color: #2196F3;
}
 .BlackText {
    color: #212121;
 }
 
 .SectionOne {
    background-color: #2F303A;
    height: 600px;
    
 }

.H2Text2 {
   text-align: center;
   font-size: 36px;
   padding-top: 150px;
 }

 .img-work {
  width: 370px;
  height: 294px;
  
 }

 .work {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
 }

 .H2Text3 {
  text-align: center;
  font-size: 36px;
  margin-top: 150px;
 }



 .H2Text {
  color: #FFFFFF;
  font-size: 70px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px; 
  margin-top: 100px;
 }

 .button {
  display: flex;
  justify-content: center;
 }

 button {
  margin: 40px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
 }

 .h2-title {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
 }

 header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: 80px;
 }

 .menu {
    list-style: none;
    display: flex;
    gap: 40px;
   
 }



 footer {
    background: #2F303A;
    color: #FFFFFF;
    padding-top: 45px;
    height: 250px;
 }

 .menu2 {
    list-style: none;
    display: block;
    font-size: 20px;
    margin-left: 215px;
    margin-top: 10px;
 }

  .menu2-li{
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
  }

.logo {
  display: flex;
  margin-left: 215px;
  font-size: 26px;
}


 h3>span {
   color: #2196F3;
 }

  h1>span {
   color: #2196F3;
 }

 .Sectiontwo {
  height: 225px;
 }

 .SectionThree {
   height: 565px;
   
 }

 .SectionFour {
  height: 648px;
  background-color: #F5F4FA;
 }

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
  
}

.article-member {
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 40px;
  
}

.work-description {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;
}






 :root {
  --accent-color: #2196F3;

}
:root {

  --white-color: #FFFFFF;

}

:root {
  --main-text-color: #212121;

}

:root {
  --background-color: #F5F4FA;

}
:root {
  --dark-bg-color: #2F303A;

}

h1,h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}







 